# Global Settings
SETTINGS: starting_gold 1000
SETTINGS: unit_limit 20
SETTINGS: max_commander 20

# Armor - Format: <ArmorName (text)> <MitigationPercentage (positive number 0-100)>
# MitigationPercentage: 0–100 inclusive

ARMOR: Heavy 75
ARMOR: Medium 50
ARMOR: Leather 25
ARMOR: Unarmored 0

# Abilities - Format: <AbilityType (Damage, Heal, Ressurect, Summon)> <AbilityName (text)> <ManaCost (positive number)>   [<Parameter1 (positive number)>] [<Parameter2>] ...

ABILITY: Heal HealAlly 30 100
ABILITY: Resurrect ReviveAlly 100
ABILITY: Damage ArcaneBlast 20 50
ABILITY: Damage UndeadBane 50 100
ABILITY: Summon RaiseSkeletons 40 3 Skeleton
ABILITY: Summon NecroWave 75 2 Zombi

# UNIT Format:
# <Name:string> <Health:uint> <ArmorName:string> <ArmorDurability:uint> <Attack:uint> <Gold:uint> [<MaxMana:uint>] [<AbilityName:string>]

# If MaxMana is present, AbilityName may follow.
# If AbilityName is present but MaxMana is omitted, mana defaults to 0.
# <ArmorName> must match a registered ArmorType.
# <AbilityName> must match a registered Ability in AbilityFactory.

UNIT: Infantryman 420 Medium 8 7 250
UNIT: Archer 535 Medium 3 10 300
UNIT: Knight 835 Heavy 10 45 700
UNIT: Healer 290 Unarmored 0 2 150 200 HealAlly
UNIT: Mage 325 Leather 3 10 250 200 ArcaneBlast

UNIT: Skeleton 500 Medium 8 5 100
UNIT: Ghoul 400 Heavy 6 12 250
UNIT: Necromancer 300 Unarmored 0 4 400 200 RaiseSkeletons
UNIT: Zombi 250 Unarmored 0 15 300
UNIT: Dybbuk 250 Unarmored 0 15 300 300 UndeadBane
UNIT: Revenant 600 Unarmored 0 15 300
UNIT: Ghost 0 Unarmored 0 0 500 0 HealAlly

# COMMANDER Format:
# <Name:string> <Health:uint> <ArmorName:string> <ArmorDurability:uint> <Attack:uint> <Gold:uint> [<MaxMana:uint>] [<AbilityName:string>...]

# If MaxMana is present, it must be numeric.
# Any following tokens are treated as AbilityNames.
# Commanders can have multiple abilities.

COMMANDER: Lich 1500 Heavy 100 9999 1000 2000 RaiseSkeletons
COMMANDER: Dreadlord 3000 Heavy 200 9999 2000 2000 NecroWave
COMMANDER: DeathKnight 2500 Heavy 150 9999 1000 1000 HealAlly
COMMANDER: Paladin 5000 Heavy 250 9999 3000 500 ReviveAlly HealAlly
COMMANDER: AntiUndead 2000 Heavy 75 9999 1500 1000 UndeadBane HealAlly HealAlly
COMMANDER: BladeDancer 4000 Medium 300 9999 300